streamlit>=1.38.0
pandas>=2.2.2
requests>=2.32.3
python-dotenv>=1.0.1
scikit-learn>=1.4.2
transformers>=4.42.0
torch>=2.2.0
google-play-scraper>=1.2.4
praw>=7.7.1
google-api-python-client>=2.129.0
pytrends>=4.9.2
tqdm>=4.66.4
requests-html>=0.10.0
beautifulsoup4>=4.12.0
lxml_html_clean>=0.4.0 